@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root {
  --pink: #e84393;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

body {
  background: #eee;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 51, 153, 0.05);
}

.heading span {
  color: var(--pink);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #333;
  color: #fff;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: var(--pink);
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 3rem;
  color: #333;
  font-weight: bolder;
}

header .logo span {
  color: var(--pink);
}

header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #666;
}

header .navbar a:hover {
  color: var(--pink);
}

header .icons a {
  font-size: 2.5rem;
  color: #333;
  margin-left: 1.5rem;
}

header .icons a:hover {
  color: var(--pink);
}


header .fa-bars {
  font-size: 3rem;
  color: #333;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  display: none;
}
/* header */

/* home */
.home .logo img {
  margin-left: -90px;
}

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
/*   background: url("/jayron08.github.io/images/home-bg.jpg"); */
  background: url("/home-bg.jpg");
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 50rem;
}

.home .content h3 {
  font-size: 6rem;
  color: #333;
}

.home .content span {
  margin-bottom: -10px;
  font-size: 2.5rem;
  color: var(--pink);
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content p {
  font-size: 1.5rem;
  color: #999;
  padding: 1rem 0;
  line-height: 1.5;
}
/* home */

/* about */
.about .row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

.about .row .video-container {
  flex: 1 1 40rem;
  position: relative;
}

.about .row .video-container video {
  width: 100%;
  border: 1.5rem solid #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  height: 100%;
  object-fit: cover;
}

.about .row .video-container h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: #333;
  background: #fff;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  mix-blend-mode: screen;
}

.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: #333;
}

.about .row .content p {
  font-size: 1.5rem;
  color: #999;
  padding: 0.5rem 0;
  line-height: 1.5;
}
/* about */

/* icon */
.icons-container {
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons-container .icons {
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex: 1 1 25rem;
}

.icons-container .icons img {
  height: 5rem;
  margin-right: 2rem;
}

.icons-container .icons h3 {
  color: #333;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

.icons-container .icons span {
  color: #555;
  font-size: 1.3rem;
}
/* icon */

/* product */
.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.products .box-container .box {
  flex: 1 1 30rem;
  text-align: center;
  padding: 3rem 2rem;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  outline:  .1rem solid #ccc;
  outline-offset: -1.5rem;
  cursor: pointer;
}

.products .box-container .box:hover {
  outline:  .2rem solid #222;
  outline-offset: 0;
}

.products .box-container .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.7rem 1rem;
  font-size: 2rem;
  color: var(--pink);
  background: rgba(255, 51, 153, 0.05);
  z-index: 1;
  border-radius: 0.5rem;
}

.products .box-container .box .image {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}

.products .box-container .box .image img {
  height: 25rem;
}

.products .box-container .box:hover .image img {
  transform: scale(.9);
}

.products .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.products .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.products .box-container .box .content .price {
  font-size: 2.5rem;
  color: var(--pink);
  font-weight: bolder;
  padding-top: 1rem;
}

.products .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #999;
  font-weight: lighter;
  text-decoration: line-through;
}
/* product */

/* review */
.testimonial-area {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 2;
  padding: 50px 0;
}

.testimonial-area .container {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

.testimonial-area .owl-carousel {
  overflow: hidden;
  padding: 0 20px;
  margin: 0 -40px;
  padding-right: 40px;
}

.owl-carousel .owl-stage-outer {
  padding: 30px 50px;
  margin-left: -35px;
  width: calc(100% + 100px);
}
.single-testimonial {
  border: 7px solid #000;
  text-align: center;
  border-radius: 45px;
  position: relative;
  z-index: 2;
}

.single-testimonial p {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  padding: 50px;
  padding-bottom: 30px;
  position: relative;
  z-index: 3;
}

.client-info {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  text-align: left;
  padding-bottom: 50px;
}

.client-info .client-details h6 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.client-info .client-details span {
  display: inline-block;
  color: #000;
  font-size: 13px;
}

.client-info .client-pic {
  padding-right: 15px;
}

.client-info .client-pic img {
  width: 100%;
  border-radius: 50px;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dots button {
  background: #000 !important;
  width: 15px;
  height: 15px;
  border-radius: 26px;
  margin: 0 5px;
  transition: 0.3s;
}

.owl-dots button.active {
  width: 30px;
}

.single-testimonial:before {
 content: '\f10d';
 position: absolute;
 font-family: FontAwesome;
 left: -35px;
 top: -35px;
 background: #fff;
 font-size: 80px;
 width: 126px;
 height: 100px; 
}

.single-testimonial:after {
  content: '\f10e';
  position: absolute;
  font-family: FontAwesome;
  right: -35px;
  bottom: -35px;
  background: #fff;
  font-size: 80px;
  width: 126px;
  height: 100px; 
 }
/* review */

/* contact */
.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.contact .row form {
  flex: 1 1 40rem;
  padding: 2rem 2.5rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border: 1rem solid rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 0.5rem;
}

.contact .row .image {
  flex: 1 1 40rem;
}

.contact .row .image img {
  width: 100%;
}

.contact .row form .box {
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: 0.7rem 0;
  width: 100%;
}

.contact .row form .box:focus {
  border-color: var(--pink);
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}
/* contact */

/* footer */
footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social-icon, 
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social-icon li,
footer .menu li {
  list-style: none;
}

footer .social-icon li a {
  font-size: 4rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .menu li a {
  font-size: 2.1rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

footer .social-icon li a:hover {
  transform: translateY(-10px);
}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(images/wave.png);
  background-size: 1000px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave-02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave-02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave-02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
/* footer */

/* ======================================================================================================================================================================================================================= */
/* Other Page */

/* continer */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.container .title {
  font-size: 3.5rem;
  color: #444;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.container .products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  margin-left: -100px;
}

.container .products-container .product {
  text-align: center;
  padding: 3rem 2rem;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  outline:  .1rem solid #ccc;
  outline-offset: -1.5rem;
  cursor: pointer;
}

.container .products-container .product:hover {
  outline:  .2rem solid #222;
  outline-offset: 0;
}

.container .products-container .product img{
  height: 25rem;
}

.container .products-container .product:hover img{
  transform: scale(.9);
}

.container .products-container .product h3 {
  padding: .5rem 0;
  font-size: 2rem;
  color: #444;
}

.container .products-container .product h3:hover {
  color: #27ae60;
}

.container .products-container .product .price {
  font-size: 2rem;
  color: #444;
}
/* container */

/* preview */
.products-preview {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .8);
  display: none;
  align-items: center;
  justify-content: center;
}

.products-preview .preview {
  display: none;
  padding: 2rem;
  text-align: center;
  background: #fff;
  position: relative;
  margin: 2rem;
  width: 40rem;
}

.products-preview .preview.active {
  display: inline-block;
}

.products-preview .preview img {
  height: 30rem;
}

.products-preview .preview .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: #444;
  font-size: 4rem;
}

.products-preview .preview .fa-times:hover {
  transform: rotate(90deg);
}

.products-preview .preview h3 {
  color: #444;
  padding: .5rem 0;
  font-size: 2.5rem;
}

.products-preview .preview .stars {
  font-size: 1.7rem;
}

.products-preview .preview .stars i{
  color: #27ae60;
}

.products-preview .preview .stars span{
  color: #27ae60;
}

.products-preview .preview p {
  line-height: 1.5;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #777;
}

.products-preview .preview .price {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: #27ae60;
}

.products-preview .preview .buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.products-preview .preview .buttons a {
  flex: 1 1 16rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: #444;
  border: .1rem solid #444;
}

.products-preview .preview .buttons a.cart {
  background: #444;
  color: #fff;
}

.products-preview .preview .buttons a.cart:hover {
  background: #111;
}

.products-preview .preview .buttons a.buy:hover {
  background: #444;
  color: #fff;
}

/* Other Page */

/* ======================================================================================================================================================================================================================= */
/* Resposive Queries */


/* index */
@media (max-width: 911px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }

  .home {
    background-position: left;
  }
}

@media (max-width: 768px) {
  header .fa-bars {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header #toggler:checked ~ .navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: block;
  }

  .home .content h3 {
    font-size: 5rem;
  }

  .home .content span {
    font-size: 2.5rem;
  }

  .icons-container .icons h3 {
    font-size: 2rem;
  }

  .icons-container .icons span {
    font-size: 1.7rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }
}
/* index */
